@import 'helpers/reset';
@import 'helpers/colors';
@import 'helpers/fonts';
@import 'helpers/transitions';

@import 'About';
@import 'Footer';
@import 'Navigation';
@import 'Project';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $cWhite;
  background: $cBlack;
  font-family: $font-sans;
  font-size: 1.4em;
  font-weight: 200;
  line-height: 135%;
}

a {
  color: $cWhite;
}
