.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Navigation__main {

}

.Navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navigation__link {
  margin: 0 0 0 1em;
}

.Navigation__link:first-child {
  margin-left: 0;
}
