.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: var(--fontBase);
  font-weight: 100;
  line-height: var(--baseLineheight);

  margin: 0 0 6em;
}

.Navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navigation__link {
  margin: 0 0 0 1em;
}

.Navigation__link:first-child {
  margin-left: 0;
}
